body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(71, 195, 236);
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: rgb(62, 21, 109);
  margin: 0;
  padding-top: 30px;
}

h3 {
  text-align: center;
  margin: 30px;
  font-size: 30px;
  color: rgb(75, 71, 71);
}

.form-container {
  text-align: center;
  margin: 20px;
}

input {
  padding: 15px;
  border-radius: 3px;
  margin: 10px 10px 30px 10px;
}

input, button {
  background-color: rgb(235, 183, 250);
}

input:focus {
  outline: none;
}

.description-input {
  width: 400px;
}

.submit {
  border-radius: 3px;
  padding: 15px;
  margin-left: 5px;
}

.submit:focus {
  outline: none;
}

.submit:hover {
  cursor: pointer;
}

.instruction {
  font-size: 20px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.headings-container {
  margin-top: 75px;
  width: 90%;
  margin: auto;
}

.headings {
  display: flex;
  justify-content: space-between;
}

.headings li {
  font-size: 20px;
  margin: 10px;
}

.main-container {
  background-color: rgb(187, 217, 247);
  width: 600px;
  margin: auto;
}

.remove i {
  color: red;
  margin-left: 20px;
}

.remove i:hover {
  cursor: pointer;
}

.date-added {
  color: gray;
  font-size: 14px;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 20px;
}

.task-side {
  display: flex;
}

.task-info {
  display: flex;
}

.task-description:hover {
  cursor: pointer;
}

.check-mark {
  display: none;
  margin-right: 10px;
  color: rgb(28, 141, 28);
}

.completed {
  display: inline;
}

.clear-all-button {
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 30px;
}

.clear-all-button:focus {
  outline: none;
}

.clear-all-button:hover {
  cursor: pointer;
}

.clear-all {
  text-align: center;
}